<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/HeaderNavBarFooter.css">
    <link rel="stylesheet" href="css/AceptaroRechazar.css">
    <title>Document</title>
</head>
<body>
       
    <header>
        <div class="Logo">
            <img width="80px" height="80px" src="img/Logo-Oficial-CNP-2.jpg" alt="Consejo Nacional de Produccion">
            
        </div>
        <H1>Consejo Nacional De Produccion</H1>
    </header>
     
       <div class="ContainerNav">
           <nav>
               <ul>
                   <li><a href="/AdminMain">Inicio</a></li>
                   <li><a href="/ListaPostulantesaVendedor">solicitudes de tramos</a></li>
                   <li><a href="/ReportesDelAdmin">Reportes</a></li>
                  
               </ul>
           </nav>
       </div> 

       <div class="Container">
            <h2>Informacion del postulante</h2>
            <div class="ContainerGrid">
                <div class="InfoForm1" >
                    <p>Nombre:</p>
                    <p>Primer apellido:</p>
                    <p>Segundo apellido:</p>
                    <p>Telefono:</p>
                    <p>Correo:</p>
                    <p>Tipo de Id:</p>
                    <p>Identificacion:</p>
                    <p>Nombre del tramo:</p>
                    <p>Permisos:</p>
                </div>
                <div class="InfoForm2">
                    <p>Jesse</p>
                    <p>Houston</p>
                    <p>Contreras</p>
                    <p>72256994</p>
                    <p>jhoustonc@ucenfotec.ac.cr</p>
                    <p>Cedula</p>
                    <p>116560245</p>
                    <p>Organico</p>
                    <button>Descargar</button>
                </div>
                <div class="FotoColumna">

                    <p class="TxtFoto">Foto</p>
                    <img src="Img/jesse.jpg" alt="">
                </div> 
            </div>
            
                <button class="Btn1">Aceptar</button>
                <button class="Btn2">Rechazar</button>
            
        </div>

        <footer>
            <div class="GridFooter">
                <div class="Contact-Info">
                    <h3>Contacto</h3>
                    <p>Dirección: Bv. Ernesto Rohrmoser, Rohrmoser, C. 88, San José</p>
                    <p>Teléfono: 2257 9355</p>
                    <p>Correo electrónico: contactenos@cnp.go.cr</p>
                </div>
                
                <div class="Social-Links">
                    <div class="SList">
                        <h3>Síguenos</h3>
                        <div>
                            <img src="img/facebook.png" alt=""> 
                            <a href="https://www.facebook.com/?locale=es_LA">Facebook</a>
                            
                        </div>
                        
                        <div>
                            <img src="img\twiter.png" alt="">
                            <a href="https://twitter.com/?lang=es">Twitter</a>
                            
                        </div>
                        
                        <div>
                            <img src="img/insta.png" alt=""> 
                            <a href="https://www.instagram.com/">Instagram</a>
                            
                        </div>
                        
                        <div>
                            <a href="https://cr.linkedin.com/">LinkedIn</a>
                        </div>
                    </div>
                </div>
                <div class="CopyRight">
                    <p>&copy; 2024 Affordable Technology Solutions. Todos los derechos reservados.</p>
                </div>
            </div>
        </footer>
</body>
</html>