<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conózcanos - Affordable Technology Solutions</title>
    <link rel="stylesheet" href="css/HeaderNavBarFooter.css">
    <link rel="stylesheet" href="css/ATSLandingPage.css">
</head>
<body>

    <header>
        <div class="Logo">
            <img width="80px" height="80px" src="img/LogoATS.png" alt="Affordable Technology Solutions">

        </div>
        <H1>Affordable Technology Solutions</H1>
    </header>
    <div class="ContainerNav">
        <nav>
            <ul>
                <li><a href="/Principal">Inicio</a></li>
            </ul>
        </nav>
    </div>
    <main>
        <div class="ContainerBody">
        <section id="Quienes_Somos">
            <h2>¿Quiénes somos?</h2>
            <p>En Affordable Technology Solutions, nos dedicamos a proporcionar soluciones tecnológicas asequibles para empresas y particulares. Nuestro equipo de expertos está comprometido a brindar servicios de calidad que satisfagan las necesidades de nuestros clientes.</p>
        </section>
        <section id="Mision">
            <h2>Misión</h2>
            <p>En Affordable Technology Solutions, nos comprometemos a proporcionar soluciones tecnológicas accesibles e innovadoras que mejoren la vida de las personas y las empresas. Nos esforzamos por ofrecer productos y servicios de alta calidad a precios asequibles, garantizando la satisfacción y el éxito de nuestros clientes en un mundo cada vez más digitalizado.</p>
        </section>
        <section id="Vision">
            <h2>Visión</h2>
            <p>Nuestra visión en Affordable Technology Solutions es ser líderes reconocidos en el campo de la tecnología accesible, brindando soluciones innovadoras que empoderen a individuos y organizaciones para alcanzar su máximo potencial. Nos esforzamos por ser la opción preferida de nuestros clientes, siendo reconocidos por nuestra excelencia en servicio al cliente, nuestro compromiso con la innovación y nuestra contribución positiva a la sociedad.</p>
        </section>
        <section id="Equipo">
            <h2>Nuestro Equipo</h2>
            <p>Conoce al equipo de profesionales que trabaja para hacer posible nuestras soluciones tecnológicas:</p>
            <ul>
                <li>Eduardo Picado - Cordinador</li>
                <li>Jesse Houston - Desarrollador</li>
                <li>Luis Vega - Control de calidad</li>
                <li>Gabriel Bryan - Soporte</li>
            </ul>
        </section>
        <section id="ServiciosOfrecidos">
            <h2>Servicios que ofrece la empresa</h2>
            <p>1.Servicios técnicos: Brindar asistencia en la reparación y mantenimiento de televisores, teléfonos u otros dispositivos electrónicos.</p>
            <p>2. Servicios de conectividad: Proporcionar acceso a Internet o servicios de televisión por cable.</p>
            <p>3. Desarrollo y gestión de aplicaciones: Crear y mantener aplicaciones informáticas para empresas o particulares.</p>
            <p>4. Administración de servidores: Gestionar servidores para alojar sitios web o aplicaciones.</p>
            <p>5. Almacenamiento y copias de seguridad: Ofrecer soluciones para respaldar y proteger datos importantes.</p>
            <p>6. Seguridad informática: Implementar medidas para proteger sistemas y datos contra amenazas cibernéticas.</p>
            <p>7. Recuperación de desastres: Ayudar a restaurar sistemas después de fallos o incidentes graves.</p>
            <p>8. Soporte técnico: Brindar asistencia a usuarios con problemas informáticos.</p>
        </section>
    </div>
    </main>
            <!-- Footer -->
            <footer>
                <div class="GridFooter">
                    <div class="Contact-Info">
                        <h3>Contacto</h3>
                        <p>Dirección: Bv. Ernesto Rohrmoser, Rohrmoser, C. 88, San José</p>
                        <p>Teléfono: 2257 9355</p>
                        <p>Correo electrónico: contactenos@cnp.go.cr</p>
                    </div>
                    
                    <div class="Social-Links">
                        <div class="SList">
                            <h3>Síguenos</h3>
                            <div>
                                <img src="img/facebook.png" alt=""> 
                                <a href="https://www.facebook.com/?locale=es_LA">Facebook</a>
                                
                            </div>
                            
                            <div>
                                <img src="img\twiter.png" alt="">
                                <a href="https://twitter.com/?lang=es">Twitter</a>
                                
                            </div>
                            
                            <div>
                                <img src="img/insta.png" alt=""> 
                                <a href="https://www.instagram.com/">Instagram</a>
                                
                            </div>
                            
                            <div>
                                <a href="https://cr.linkedin.com/">LinkedIn</a>
                            </div>
                        </div>
                    </div>
                    <div class="CopyRight">
                        <p>&copy; 2024 Affordable Technology Solutions. Todos los derechos reservados.</p>
                    </div>
                </div>
            </footer>
</body>
</html>