<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/HeaderNavBarFooter.css">
    <link rel="stylesheet" href="css/Carrito.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class="Logo">
            <img width="80px" height="80px" src="img/Logo-Oficial-CNP-2.jpg" alt="Consejo Nacional de Produccion">
            
        </div>
        <H1>Consejo Nacional De Produccion</H1>
    </header>
     <div class="ContainerNav">
           <nav>
               <ul>
                   <li><a href="/Principal">Inicio</a></li>
                   <li><a href="/PerfilComprador">Perfil</a></li>
                   <li><a href="/ConfirmaCompra"></a></li>
                
               </ul>
           </nav>
       </div> 
    <div class="CartContainer">  
        <div class="GridContainer">
            <div class="Articulo">
                <div class="Articulo1">
                    <p>Articulo</p>
                </div>
                <div class="Articulo1">
                    <img src="Img/image.jpeg" alt="Articulo">
                </div>
                <div class="Articulo1">
                    <img src="Img/image.jpeg" alt="Articulo">
                </div>
                <div class="Articulo1">
                    <img src="Img/image.jpeg" alt="Articulo">
                </div>
                <div class="Articulo1">
                    <img src="Img/image.jpeg" alt="Articulo">
                </div>
            </div>

            <div class="Descripcion">
                <div class="Descripcion1">
                    <p>Descripcion</p>
                </div>
                <div class="Descripcion1">
                    <p>Descripcion del producto agregado al carrito</p>
                </div>
                <div class="Descripcion1">
                    <p>Descripcion del producto agregado al carrito</p>
                </div>
                <div class="Descripcion1">
                    <p>Descripcion del producto agregado al carrito</p>
                </div>
                <div class="Descripcio1n">
                    <p>Descripcion del producto agregado al carrito</p>
                </div>
            </div>

            <div class="PrecioUnitario">
                <div class="Precio">
                    <p>Precio unitario</p>
                </div>
                <div class="Precio">
                    <p>10000</p>
                </div>
                <div class="Precio">
                    <p>5000</p>
                </div>
                <div class="Precio">
                    <p>8000</p>
                </div>
                <div class="Precio">
                    <p>3000</p>
                </div>
            </div>

            <div class="Cantidad">
                <div class="Cantidad1">
                    <p>Cantidad</p>
                </div>
                <div class="Cantidad1">
                    <select name="Cantidad" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="Cantidad1">
                    <select name="Cantidad" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="Cantidad1">
                    <select name="Cantidad" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="Cantidad1">
                    <select name="Cantidad" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>

            <div class="Total">
                <div class="Total1">
                    <p>Total</p>
                </div>
                <div class="Total1">
                    <p>10000</p>
                </div>
                <div class="Total1">
                    <p>5000</p>
                </div>
                <div class="Total1">
                    <p>8000</p>
                </div>
                <div class="Total1">
                    <p>3000</p>
                </div>
            </div>

            <div class="Quitar">
                <div class="Quitar1">
                    <p>Quitar</p>
                </div>
                <div class="Quitar1">
                   <button>x</button> 
                </div>
                <div class="Quitar1">
                    <button>x</button>
                </div>
                <div class="Quitar1">
                    <button>x</button>
                </div>
                <div class="Quitar1">
                    <button>x</button>
                </div>
            </div>

        </div>
        <div class="GridContainerTotales">
            <div class="Columna1">
                <div class="TotalColumna1">
                    <p>Total de productos</p>
                </div>
                <div class="TotalColumna1">
                    <p>Total de envio</p>
                </div>
                <div class="TotalColumna1">
                    <p>Total Neto</p>
                </div>
            </div>

            <div class="Columna2">
                <div class="TotalColumna2">
                    <p>26000</p>
                </div>
                <div class="TotalColumna2">
                    <p>10000</p>
                </div>
                <div class="TotalColumna2">
                    <p>36000</p>
                </div>
            </div>

            

        </div>
        <button class="BtnComprar">Comprar</button>
    </div>  
    <footer>
        <div class="GridFooter">
            <div class="Contact-Info">
                <h3>Contacto</h3>
                <p>Dirección: Bv. Ernesto Rohrmoser, Rohrmoser, C. 88, San José</p>
                <p>Teléfono: 2257 9355</p>
                <p>Correo electrónico: contactenos@cnp.go.cr</p>
            </div>
            
            <div class="Social-Links">
                <div class="SList">
                    <h3>Síguenos</h3>
                    <div>
                        <img src="img/facebook.png" alt=""> 
                        <a href="https://www.facebook.com/?locale=es_LA">Facebook</a>
                        
                    </div>
                    
                    <div>
                        <img src="img\twiter.png" alt="">
                        <a href="https://twitter.com/?lang=es">Twitter</a>
                        
                    </div>
                    
                    <div>
                        <img src="img/insta.png" alt=""> 
                        <a href="https://www.instagram.com/">Instagram</a>
                        
                    </div>
                    
                    <div>
                        <a href="https://cr.linkedin.com/">LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="CopyRight">
                <p>&copy; 2024 Affordable Technology Solutions. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
</body>
</html>