<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas del Vendedor</title>
    <link rel="stylesheet" href="css/HeaderNavBarFooter.css">
    <link rel="stylesheet" href="css/FinanzasVendedor.css">
</head>
<body>
    
    <header>
        <div class="Logo">
            <img width="80px" height="80px" src="img/Logo-Oficial-CNP-2.jpg" alt="Consejo Nacional de Produccion">
            
        </div>
        <H1>Consejo Nacional De Produccion</H1>
    </header>
    <div class="ContainerNav">
        <nav>
            <ul>
                <li><a href="/PerfilVendedor">Inicio</a></li>
                <li><a href="/AgregarProducto">Agregar Productos</a></li>
            </ul>
        </nav>
    </div>

    <div class="GridContainer">

        <div>
            <p>Ventas del Dia</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div>
            <p>Ventas del Mes</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        
        <div>
            <p>Ventas totales</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div>
            <p>Inventario</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

    </div>
    <div class="Saldo">
        <div class="SaldoTotal"><p>Saldo Actual</p></div>
        <div class="SaldoTotal"><p>XXXXXX</p></div>
    </div>
    
</body>
<footer>
    <div class="GridFooter">
        <div class="Contact-Info">
            <h3>Contacto</h3>
            <p>Dirección: Bv. Ernesto Rohrmoser, Rohrmoser, C. 88, San José</p>
            <p>Teléfono: 2257 9355</p>
            <p>Correo electrónico: contactenos@cnp.go.cr</p>
        </div>
        
        <div class="Social-Links">
            <div class="SList">
                <h3>Síguenos</h3>
                <div>
                    <img src="img/facebook.png" alt=""> 
                    <a href="https://www.facebook.com/?locale=es_LA">Facebook</a>
                    
                </div>
                
                <div>
                    <img src="img\twiter.png" alt="">
                    <a href="https://twitter.com/?lang=es">Twitter</a>
                    
                </div>
                
                <div>
                    <img src="img/insta.png" alt=""> 
                    <a href="https://www.instagram.com/">Instagram</a>
                    
                </div>
                
                <div>
                    <a href="https://cr.linkedin.com/">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="CopyRight">
            <p>&copy; 2024 Affordable Technology Solutions. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
</html>
