<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/HeaderNavBarFooter.css">
    <link rel="stylesheet" href="css/PerfilVendedor.css">
    <title>Perfil de Vendedor</title>
</head>
<body>
    <header>
        <div class="Logo">
            <img width="80px" height="80px" src="img/Logo-Oficial-CNP-2.jpg" alt="Consejo Nacional de Produccion">
            
        </div>
        <H1>Consejo Nacional De Produccion</H1>
    </header>
    <div class="GridContainer">
        <div class="ContainerNav">
            <nav>
                <ul>
                    <li><a href="/PerfilVendedor">Inicio</a></li>
                    <li><a href="/AgregarProducto">Agregar Productos</a></li>
                    <li><a href="/FinanzasVendedor">Fininzas y Inventario</a></li>
                </ul>
            </nav>
        </div>
    <div class="Container">
        
        <div class="Main-Content">
        <div class="Columna1">
            <div class="Large-Box">
                <p>Últimos Reportes</p>
                
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="Large-Box">
                <p>Ventas</p>
            </div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
        </div>
        <div class="Columna2">
            <div class="Large-Box">
                <p>Productos</p>
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        </div>
    </div>
        <div class="Profile">
            <img src="Img/image.jpeg" alt="Foto de perfil">
            <div class="Profile-Info">
                <div class="Large-Box">
                    <p>John Doe</p>
                </div>
                <div class="Large-Box">
                    <p>123456789</p>
                </div>
                    
                <div class="Large-Box">
                    <p>Gold</p>
                </div>
                <div class="Large-Box">
                    <p>johndoe@example.com</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="GridFooter">
            <div class="Contact-Info">
                <h3>Contacto</h3>
                <p>Dirección: Bv. Ernesto Rohrmoser, Rohrmoser, C. 88, San José</p>
                <p>Teléfono: 2257 9355</p>
                <p>Correo electrónico: contactenos@cnp.go.cr</p>
            </div>
            
            <div class="Social-Links">
                <div class="SList">
                    <h3>Síguenos</h3>
                    <div>
                        <img src="img/facebook.png" alt=""> 
                        <a href="https://www.facebook.com/?locale=es_LA">Facebook</a>
                        
                    </div>
                    
                    <div>
                        <img src="img\twiter.png" alt="">
                        <a href="https://twitter.com/?lang=es">Twitter</a>
                        
                    </div>
                    
                    <div>
                        <img src="img/insta.png" alt=""> 
                        <a href="https://www.instagram.com/">Instagram</a>
                        
                    </div>
                    
                    <div>
                        <a href="https://cr.linkedin.com/">LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="CopyRight">
                <p>&copy; 2024 Affordable Technology Solutions. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
</body>
</html>
